body {
  padding-bottom: 5rem;
}

#rating-div {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#debrief {
  padding-top: 5rem;
}

#similar2 {
  display: none;
}

.rating-btn {
  border-radius: 4px;
}

@media all and (max-width: 575px) {

  #similar {
    display: none;
  }

  #similar2 {
    display: block;
  }
}